{% extends "masterPage.html" %}

{% block a %}


<div class="container card mx-auto shadow-lg mt-3">
    <form class="mt-3" method='POST'>
      {% csrf_token %}  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Vechicle Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="bikename">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Vechicle No.</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="number">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Problem</label>
          <textarea class="form-control" id="exampleInputPassword1" name="problem"></textarea>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Appointment Time</label>
          <input type="time" class="form-control" id="exampleInputPassword1" name="time">
        </div>

        <button type="submit" class="btn btn-primary">Book Service</button>
      </div>
      {% comment %} <a href="{% url "bookSer"  %}" class="btn btn-primary">Book</a> {% endcomment %}
      </div>
      </form>
</div>


{% endblock a %}





